/* RESET & VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --bg-dark: #0F0F11;
    --accent-color: #E2B65A;
    --text-white: #F8FAFC;
    --text-muted: #b6b6b6;
    --font-poppins: "Poppins", sans-serif;
    --font-mono: "Roboto Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-poppins);
    background-color: #0f0f11;
    background-image: url("https://www.transparenttextures.com/patterns/navy.png");
    color: var(--text-white);
}


/* HEADER & NAVBAR */
#main-header {
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: all 0.3s ease;
}

#main-header.scrolled {
    background-color: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 16px 0;
    border-radius: 50px;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: center;
}

.list-navbar {
    display: flex;
    gap: 30px;
}

.list-navbar a {
    color: var(--text-muted);
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s ease;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
}

.list-navbar a:hover,
.list-navbar a.active {
    color: var(--accent-color);
}

.list-navbar a.active {
    position: relative;
}
.list-navbar a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    border-radius: 50px;
}

.list-navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    border-radius: 50px;
    transition: width 0.3s ease;
}


/* HERO SECTION */
.hero {
    min-height: 100vh;
    width: 100%;
    background-image:
        radial-gradient(
            125% 100% at center 40%,
            #272011 9%,
            rgba(15, 15, 17, 0.6) 45%,
            #0F0F11 76%
        ), url("https://www.transparenttextures.com/patterns/navy.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0 20px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");

  opacity: 1;
  mix-blend-mode: overlay;

  mask-image: radial-gradient(
    ellipse at center,
    black 0%,
    black 35%,
    transparent 80%
  );

  -webkit-mask-image: radial-gradient(
    ellipse at center,
    black 0%,
    black 35%,
    transparent 80%
  );

  z-index: 1;
  pointer-events: none;
}

.hero-content {
    max-width: 1000px;
    z-index: 2;
}

.hero-title {
    font-size: clamp(6rem, 12vw, 9rem);
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1.1;
    margin-bottom: 5px;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}

.hero-subtitle {
    font-family: var(--font-mono);
    color: var(--text-white);
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    letter-spacing: 4px;
    margin-bottom: 56px;
    font-weight: 400;
}


/* BUTTONS HERO */
.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.btn-primary {
    width: 250px;
    padding: 10px;
    background-color: var(--accent-color);
    color: #000000;
}

.btn-primary:hover {
    background-color: #d8a94a;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.btn-secondary {
    width: 250px;
    padding: 10px;
    background-color: rgba(226, 182, 90, 0.1);
    color: var(--text-white);
    border: 1px solid var(--accent-color);
}

.btn-secondary:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}


/* ANIMATIONS HERO */
.scroll-arrow {
    position: absolute;
    bottom: 30px;
    color: var(--text-white);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-5px); }
}


/* PROJECTS SECTION */
.projects-section {
    /* background-color: var(--bg-dark); */
    padding: 25px 20px 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects-container {
    max-width: 1300px;
    width: 100%;
}

.projects-header {
    text-align: center;
    position: relative;
    margin-bottom: 60px;
}

.projects-title-bg {
    font-size: clamp(6rem, 10vw, 9rem);
    font-weight: bold;
    color: rgba(226, 182, 90, 0.05);
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
    filter: blur(2px);

    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 0) 85%
    );

    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 0) 85%
    );
}

.projects-title {
    font-size: clamp(4rem, 5vw, 5rem);
    font-weight: bold;
    color: var(--accent-color);
    position: relative;
    transform: translateY(54px);
    z-index: 2;
    margin-top: 100px;
}

.projects-subtitle {
    font-family: var(--font-mono);
    font-size: 1.1em;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 64px;
}

.projects-subtitle span {
    color: var(--text-white);
    font-weight: bold;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 50px;
}

.project-card {
    background-color: var(--bg-dark);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    position: relative;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: var(--accent-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.badge-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent-color);
    color: var(--bg-dark);
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    padding: 3px 42px;
    border-radius: 50px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.project-card:hover .badge-top {
    opacity: 1;
    visibility: visible;
}

.card-image-wrapper {
    position: relative;
    width: calc(100% - 34px); 
    height: 240px;
    border-radius: 18px 0 0;
    overflow: hidden;
    margin-top: 34px;
    margin-left: 34px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(226, 182, 90, 1) 10%, rgba(226, 182, 90, 0) 90%);
    mask-image: linear-gradient(to bottom, rgba(226, 182, 90, 1) 10%, rgba(226, 182, 90, 0) 90%);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-image-placeholder {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(64,58,45,0.4) 0%, rgba(15,15,17,0) 100%);
}

.project-card:hover .card-image {
    transform: scale(1.05);
}

.card-content {
    padding: 0 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-name {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--text-white);
    line-height: 38px;
}

.software-badge {
    font-family: var(--font-mono);
    font-size: 0.9rem;
    padding: 6px 14px;
    border-radius: 50px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(226, 182, 90, 0.1);
    color: var(--accent-color);
    border: 1px solid rgba(226, 182, 90, 0.2);
}

.software-badge img {
    width: 0.95rem;
    height: 0.95rem;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.projects-footer {
    display: flex;
    justify-content: center;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.btn-explore {
    width: auto;
    padding: 12px 72px;
    background-color: var(--accent-color);
    color: #000000;
}

.btn-explore:hover {
    background-color: #d8a94a;
    transform: translateY(-3px);
    padding: 12px 78px;
}